<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hudl Regression Test Suite" thread-count="2">
    <test name="Login">
        <classes>
            <class name="com.hudl.tests.LoginTest"/>
        </classes>
    </test>
    <test name="HomePage">
        <classes>
            <class name="com.hudl.tests.HomePageTest"/>
        </classes>
    </test>
</suite>
